@model StockUpdateViewModel
@using Entities.Concrete
@{
    Layout = null;
}

<div class="modal fade" id="stock-update-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                Update Stock
            </div>
            <form id="form-stock-update" method="post" action="/Stock/Update" asp-antiforgery="true">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="form-baslik">Stock Name</label>
                        <input autocomplete="off" asp-for="stock.name" class="form-control stock-input" placeholder="Stock Name..." required>
                    </div>
                    <div class="form-group">
                        <label class="form-baslik">Group</label>
                        <select class="form-control stock-input" asp-for="stock.group" asp-items="@(new SelectList(Model.groups, nameof(Stock_Group.id), nameof(Stock_Group.name)))" required>
                            <option value="0">Select Please...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-baslik">Brand</label>
                        <select class="form-control stock-input stock_brand" asp-for="stock.brand" asp-items="@(new SelectList(Model.brands, nameof(Stock_Brand.id), nameof(Stock_Brand.name)))" onchange="StockModel()">
                            <option value="0">Select Please...</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="form-baslik">Model</label>
                        <div id="div-stock-model">
                            <select class="form-control stock-input" asp-for="stock.model" disabled>
                                <option value="0">Select Please...</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-baslik">Unit Price</label>
                        <input class="form-control stock-input" asp-for="stock.unit_price" type="number" min="0" required />
                    </div>

                    <div class="form-group">
                        <label class="form-baslik">Quantity</label>
                        <input class="form-control stock-input" asp-for="stock.quantity" type="number" min="0" required />
                    </div>

                    <div class="form-group">
                        <label class="form-baslik" asp-for="stock.status">Status</label>
                        <input asp-for="stock.status" style="display: block;" />
                    </div>
                    <input type="hidden" asp-for="stock.cuser" />
                    <input type="hidden" asp-for="stock.cdate" />
                    <input type="hidden" asp-for="stock.image" />
                    <input type="hidden" asp-for="stock.id" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#stock-update-modal").modal("show");

    $("#stock-update-modal").on('shown.bs.modal', function () {
        StockModel();
    });

    function StockModel() {
        let stock_brand = $(".stock_brand").val();
        if (stock_brand == 0) {
            $("#div-stock-model select").attr("disabled", "");
        }
        else {
            $.ajax({
                type: "POST",
                url: "/Stock/StockModelByBrand",
                data: { brandId: $(".stock_brand").val() },
                success: function (response) {
                    $("#div-stock-model").html(response);
                },
                error: function () {
                    swal("Hata", "Lütfen sistem yöneticiniz ile iletişime geçin.", "error");
                }
            });
        }
    }

    $("#form-stock-update").submit(function (e) {
        //post stop
        e.preventDefault();
        let post_url = $(this).attr("action");
        let request_method = $(this).attr("method");
        let form_data = $(this).serialize();

        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (response) {
                if (response.success) {
                    $("#stock-update-modal").modal("hide");
                    toastShow("success", response.message, "Stock Update");
                }
                else toastShow("warning", response.message, "Stock Update");
            },
            error: function () {
                toastShow("error", "An unexpected error occurred", "Stock Update");
            }
        });
    });

    $('#stock-update-modal').on('hidden.bs.modal', function () {
        $("#ajaxResponse").contents().remove();
    });
</script>
